Project Description

- Android Kotlin Library for Handling Biometric Authentication

Library Capabilities
- Check whether device support fingerprint, face authentication, or any biometric
- Check whether device already enrolled the biometric (fingerprint, face auth, or etc)
- Check whether device credential enrolled
- Check whether current device state support strong biometric authentication using cryptography
- Check whether device biometric changes while decrypting data
- Encrypt data through biometric authentication cryptography key

Architecture:
- Use clean architecture when applicable
- use SOLID principle
- Keep library is testable for unit test, please using Test Driven Development
- Keep code testable

Rules:
- Keep API can use in SDK >= 21
- Add KDoc or comment for every public API or public Model used by Consumer
- use simple name for function or API or Model that easily remember (or prefer use my function name)
- exception have a minimal variable for code:String, message:String, cause:Throwable
- model & core depends on nothing
- api depends on model and core
- internal depends on api, model, and core

Library Directory Structure:
- model
- core
- api
- internal

Documentation:
- use README.md as a file to provide documentation
- Every public Class/API/Model needs documentation

Example:
- app/ folder is for example how to use this library
- in app/ there is one selection feature activity that will simulate flow of this app
- Instead just Log the result, display the result into textview

Versioning:
- do not change versioning

CI/CD:
- Use Github Workflow under .github/workflows
- Use existing variable or secret
- Ensure should doing testing every PR to main or push inside main
- Ensure for deploying to maven central after tag using "v*"
- for deployment, test -> deployment -> create release
- list commit from current tag to previous tag as a release note (if applicable) or add last 10 commit as a release note (if applicable)

Agent Instructions:
- Ensure backward compatibility
- Do not generate placeholder implementations
- Do not generate fake/mock production logic
- Ask before introducing breaking changes
- Prefer scalable and maintainable solutions
- Follow existing repository patterns first
- Update README.md documentation if there is any update on public API or Model
- Update androidTest or Test if there is any update on library implementation